<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="form" method="post" action="http://localhost:5000/api/messages/login">
      <input type="text" id="username" name="username" value="7319739537" />
      <input type="text" id="password" name="password" value="abc" />
      <input type="text" id="countryCode" name="countryCode" value="+91" />
      <button type="submit">submit now</button>
    </form>
    <script>
      const data = {};
      var form = document.getElementById("form");
      const username = document.getElementById("username");
      const password = document.getElementById("password");
      const countryCode = document.getElementById("countryCode");

      const btn = document.querySelector("button");
      // btn.addEventListener("click", function (e) {
      //   data.username = username.value;
      //   data.password = password.value;
      //   data.countryCode = countryCode.value;
      //   callApi();
      // });
      form.addEventListener("submit", function (e) {
        e.preventDefault();
      });

      async function callApi() {
        let result = await fetch("http://localhost:5000/api/messages/login", {
          headers: {
            "content-type": "application/json",
          },
          method: "POST",
          body: JSON.stringify(data),
        });
        result = await result.json();
        renderPage(result.data);

        // window.location.href = `http://localhost:5000/api/chatting/${result.accessToken}`;
      }

      async function renderPage(result) {
        console.log(result);
        let response = await fetch("http://localhost:5000/api/chatting/", {
          method: "POST",
          headers: {
            "content-type": "application/json",
            "authorization": `Bearer ${result.accessToken}`,
          },
        });

        console.log(response);
      }
    </script>
  </body>
</html>
